-- Add taxonomy fields to items table
ALTER TABLE items ADD COLUMN categories_json TEXT;
ALTER TABLE items ADD COLUMN tags_json TEXT;
ALTER TABLE items ADD COLUMN metadata_json TEXT;

-- Index for category-based lookups
CREATE INDEX idx_items_categories ON items(tenant_id, categories_json);
