@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }

  body {
    @apply min-h-screen text-slate-100 antialiased;
    background-color: theme('colors.midnight.900');
  }
}
